# Зависимости
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Сессия Telegram
session.txt

# Логи
logs
*.log

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
